.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}
.header-logo{
    height: 25px;
    margin-left: 20px;
    object-fit: contain;
}
.header-input{
    display: flex;
    align-items: center;
    width: 40%;
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-input > input{
    flex: 1;
    border: none;
    height: 40px;
    border-radius: 25px;
    
    font-size: 18px;
}
.header-input-button{
    width: 50px !important;
    color: gray;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
}
.header-icon{
    margin-right: 8px;
}
